//
// DetectAddressAPI.swift
//
// Generated by swagger-codegen
// https://github.com/swagger-api/swagger-codegen
//

import Foundation
import Alamofire



open class DetectAddressAPI {
    /**
     Detects address in uploaded file.
     
     - parameter uploadFile: (body) Your file to be uploaded 
     - parameter completion: completion handler to receive the data and the error objects
     */
    open class func detectAddressPost(uploadFile: UploadFile, completion: @escaping ((_ data: String?,_ error: Error?) -> Void)) {
        detectAddressPostWithRequestBuilder(uploadFile: uploadFile).execute { (response, error) -> Void in
            completion(response?.body, error)
        }
    }


    /**
     Detects address in uploaded file.
     - POST /post/letters/detect-address
     - Detects address in uploaded file.
     - BASIC:
       - type: basic
       - name: BasicAuth
     - examples: [{contentType=application/json, example=""}]
     
     - parameter uploadFile: (body) Your file to be uploaded 

     - returns: RequestBuilder<String> 
     */
    open class func detectAddressPostWithRequestBuilder(uploadFile: UploadFile) -> RequestBuilder<String> {
        let path = "/post/letters/detect-address"
        let URLString = ClickSendClientAPI.basePath + path
        let parameters = JSONEncodingHelper.encodingParameters(forEncodableObject: uploadFile)

        let url = URLComponents(string: URLString)

        let requestBuilder: RequestBuilder<String>.Type = ClickSendClientAPI.requestBuilderFactory.getBuilder()

        return requestBuilder.init(method: "POST", URLString: (url?.string ?? URLString), parameters: parameters, isBody: true)
    }

}
